{# AppBundle/Resources/views/security/login.html.twig #}
{% extends 'BDBundle::base.html.twig' %}

{% block otherstylesheets %}
    {#Login style#}
    <link rel="stylesheet" href="{{ asset('bundles/bd/css/loginStyles.css') }}"/>
{% endblock %}

{# Login form #}
{# {% block nevigationbar %} {% endblock %} #}

{% block body %}

    <div class="center-parent">
        <form class="form-signin center-child" action="{{ path('login') }}" method="post">
            <h2 class="form-signin-heading" align="center">Please Login</h2>
            <input type="text" id="username" class="form-control" placeholder="Username"
                   name="_username" {#   value="{{ last_username }}"  #} autofocus="" required="" autofocus=""/>
            <input type="password" class="form-control" id="password" placeholder="password"
                   name="_password" required=""/>
            {% if error %}
                <div class="alert-danger" style="border-radius: 10px;"
                     align="center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

            {% endif %}

            <br>
            <button class="login-btn btn btn-default " type="submit">Login</button>
        </form>
    </div>




    <style>

        .center-parent{
            display: flex;
            align-content: center;
            align-items: center;
            height: 70vh;
        }

        .center-child{
            width: 50%;
            margin: auto;

            background: transparent;

            -webkit-box-shadow: 3px 5px 10px -1px rgba(0,0,0,0.67);
            -moz-box-shadow: 3px 5px 10px -1px rgba(0,0,0,0.67);
            box-shadow: 3px 5px 10px -1px rgba(0,0,0,0.67);
        }

        .login-btn {
            background: url('{{ asset('bundles/bd/images/btn-login.png') }}') no-repeat 5px 5px #484B4F;
            width: 100px;
            cursor: pointer;
            border-radius: 50px;
            padding: 10px 20px 10px 0;
            color: White;
            font-size: 14px;
            text-align: left;
            text-indent: 40px;
            display: block;
            margin: 0 auto;
            /* Animations: */
            -webkit-transition-timing-function: ease-in-out;
            -webkit-transition-duration: .4s;
            -webkit-transition-property: all;
            -moz-transition-timing-function: ease-in-out;
            -moz-transition-duration: .4s;
            -moz-transition-property: all;
        }

        .login-btn:hover {
            background-image: url('{{ asset('bundles/bd/images/btn-login-hover.png') }}');
            background-position: 65px 5px;
            text-indent: 20px;
        }

        .login-btn:focus{
            border: none !important;
            outline: none!important;
        }



        body{
            color: #333;
            font-family: "Roboto", UILanguageFont, Arial, sans-serif;


            background: rgba(226,226,226,1);
            background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 34%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
            background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 34%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
            background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 34%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
            background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 34%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
            background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 34%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
        }

    </style>


{% endblock %}

{% block customscript %}
{% endblock %}