


<div class="modal fade" id="license-model" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="header-f">THE BUSINESS DIRECTORY [Terms and conditions]</h3>
            </div>
            <div class="modal-body">
                <div>

                    <h4>Statement of Rights and Responsibilities</h4>

                    <p>This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from  the <a href = "{{ path('homepage')}}">Business Directory</a> Principles, and is our terms of service that governs our relationship with users and others who interact with  <a href = "{{ path('homepage')}}">Business Directory</a>, as well as <a href = "{{ path('homepage')}}">Business Directory</a> brands, products and services, which we call the “ <a href = "{{ path('homepage')}}">Business Directory</a> Services” or “Services”. By using or accessing the <a href = "{{ path('homepage')}}">Business Directory</a> Services, you agree to this Statement, as updated from time to time in accordance with Section 13 below. Additionally, you will find resources at the end of this document that help you understand how the <a href = "{{ path('homepage')}}">Business Directory</a> works.
                        Because <a href = "{{ path('homepage')}}">Business Directory</a> provides a wide range of Services, we may ask you to review and accept supplemental terms that apply to your interaction with a specific app, product, or service. To the extent those supplemental terms conflict with this SRR, the supplemental terms associated with the app, product, or service govern with respect to your use of such app, product or service to the extent of the conflict.</p>

                    <ol>
                        <li>

                            <h4>Privacy</h4>

                            <p>your privacy is very important to us. We designed our Data Policy to make important disclosures about how you can use <a href = "{{ path('homepage')}}">Business Directory</a> to share with others and how we collect and can use your content and information. We encourage you to read the Data Policy, and to use it to help you make informed decisions.
                            </p>
                        </li>
                        <li>
                            <h4>Sharing Your Content and Information</h4>

                            <p>You own all of the content and information you post on <a href = "{{ path('homepage')}}">Business Directory</a>, and you can control how it is shared through your privacy and application settings. In addition:
                            <ol>
                                <li>	For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with <a href = "{{ path('homepage')}}">Business Directory</a> (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
                                </li> <li>	When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
                                </li> <li>	When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.
                                </li> <li>	When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of <a href = "{{ path('homepage')}}">Business Directory</a>, to access and use that information, and to associate it with you (i.e., your name and profile picture).
                                </li> <li>	We always appreciate your feedback or other suggestions about <a href = "{{ path('homepage')}}">Business Directory</a>, but you understand that we may use your feedback or suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).
                                </li>
                            </ol>
                            </p>

                        </li>

                        <li>

                            <h4>Safety</h4>
                            <p>
                                We do our best to keep <a href = "{{ path('homepage')}}">Business Directory</a>   safe, but we cannot guarantee it. We need your help to keep <a href = "{{ path('homepage')}}">Business Directory</a> safe, which includes the following commitments by you:
                            <ol>
                                <li>	You will not post unauthorized commercial communications (such as spam) on <a href = "{{ path('homepage')}}">Business Directory</a>.
                                </li> <li>	You will not collect users' content or information, or otherwise access <a href = "{{ path('homepage')}}">Business Directory</a>, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
                                </li> <li>	You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on <a href = "{{ path('homepage')}}">Business Directory</a> .
                                </li> <li>	You will not upload viruses or other malicious code.
                                </li> <li>	You will not solicit login information or access an account belonging to someone else.
                                </li> <li>	You will not bully, intimidate, or harass any user.
                                </li> <li>	You will not post content that is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
                                </li> <li>	You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.
                                </li> <li>	You will not use <a href = "{{ path('homepage')}}">Business Directory</a> to do anything unlawful, misleading, malicious, or discriminatory.
                                </li> <li>	You will not do anything that could disable, overburden, or impair the proper working or appearance of <a href = "{{ path('homepage')}}">Business Directory</a>, such as a denial of service or interference with page rendering or other <a href = "{{ path('homepage')}}">Business Directory</a> functionality.
                                </li> <li>	You will not facilitate or encourage any violations of this Statement or our policies.
                                </li></ol>
                            </p>

                        </li>

                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</div>

<style>
    .header-f{
        text-align: center;
        height: 50px;
        background-color: #3399ff;
        color: whitesmoke;
        line-height: 50px;
        border-radius: 3px;
    }
    p , li{
        font-size: 12px;
        color: #333;

    }

    .modal-dialog{
        overflow: auto;
        width: 80%;
    }
    .modal-body{
        margin-right: 20px;
        margin-left: 20px;
    }
</style>

